<!DOCTYPE html>
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <a href="/">Главная</a>
    <a href="register.html">Регистрация</a>
    <h1>Вход</h1>
    <form method="POST" class="form-login">
        <p>Email: <input name="email" type="email" required></p>
        <p>Пароль: <input name="psw" type="password" required></p>
        <p><input type="submit" value="Войти"></p>
    </form>
</body>
</html>